In [1]:
#importing libraries
import pandas as pd
import numpy as np
import random as random
import math
import warnings
warnings.filterwarnings("ignore")

In [2]:
def Dataframe_Load():
  #Supplier countries 
  # Created an empty dataframe with the required columns for suppliers
  supplier_details = pd.DataFrame(columns=['Supplier_ID','Country', 'lat', 'long', 'Volume', 'Time_taken'])
  #Reading world cities
  cities_df = pd.read_excel('worldcities.xlsx')
  df2 = cities_df.loc[(cities_df.country == "China") | (cities_df.country == "India") | (cities_df.country == "Japan")|(cities_df.country == "South Korea")|(cities_df.country == "France")]
  Supplier_Countries = df2.groupby('country').head(2)

  #Taking location o f manufracturer to find distance between other cities and US 
  us = cities_df.loc[(cities_df.country == "United States") ]
  us = us.head(1)
  return Supplier_Countries, us
  '''us["Current_Inventory_Level"] = random.randint(35000,50000)
  us["Max_Inventory_Level"] = 300000
  us["Inventory_Difference"] = us["Max_Inventory_Level"] - us['Current_Inventory_Level']
  print(us)'''

In [3]:
#Adding reqd columns and randomizing values of volume, time_taken
Supplier_Countries, us = Dataframe_Load()
def value_add(Supplier_Countries):
  #us_demand = float(us.Inventory_Difference)
  time1 = []
  vol = []
  material_volume_provided = []
  demand_satisfied = []
  count = 0
  for i in range(1,len(Supplier_Countries)+1):
    time1.append(random.randint(1,10))
    if i in [1,4,7]:
      vol.append(random.randint(1500,2000))
    elif i in [2,5,8,10]:
      vol.append(random.randint(2500,4000))
    else:
      vol.append(random.randint(750, 1000))
    #material_volume_provided.append(vol[count] - float(0.1*us_demand))
    #demand_satisfied.append(0.1*us_demand)
    #Supplier_Countries.drop(columns = "Material_Provided", inplace = True)
    #Supplier_Countries.drop(columns = "Supplier_ID", inplace = True)

    count = count + 1
    #demand_percentage.append((0.1*us['Demand']))
  time1.sort()
  Supplier_Countries["Volume"] = vol
  #Supplier_Countries["Material_Left"] = material_volume_provided
  #Supplier_Countries["Demand-Satisfied"] = demand_satisfied
  return Supplier_Countries

Supplier_Countries = value_add(Supplier_Countries)

In [4]:
from geographiclib.geodesic import Geodesic
geod = Geodesic.WGS84
def distance_calc(Supplier_Countries, us):
  #Calculated the distance of the suppliers from the manufacturing facility in USA
  distance1 = []
  lat1 = float(us["lat"])
  long1 = float(us["lng"])
  for index, row in Supplier_Countries.iterrows(): 
    lat2 = row['lat']
    long2 = row['lng']
    g = geod.Inverse(lat1, long1, lat2, long2)
    distance1.append(g['s12']/1000)
  Supplier_Countries["Distance_from_us"] = distance1
  Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
  return Supplier_Countries



'''  
#creating and visualizing network graph
import networkx as nx
from geographiclib.geodesic import Geodesic
geod = Geodesic.WGS84

geod = Geodesic.WGS84

G = nx.DiGraph()
G.add_node(0, latitude = us["lat"], longitude= us["lng"])
distance1 = []
lat1 = float(us["lat"])
long1 = float(us["lng"])
for index, row in Supplier_Countries.iterrows(): 
    lat2 = row['lat']
    long2 = row['lng']
    G.add_node(row['id'], latitude = row['lat'], longitude = row['lng'])
    g = geod.Inverse(lat1, long1, lat2, long2)
    distance1.append(g['s12']/1000)
    if row['Demand-Satisfied']<=row['Volume']:
      cost = g['s12']/1000 * row['Demand-Satisfied']
    else:
      cost = g['s12']/1000 * row['Volume']
    G.add_edge(0, row['id'], dist=g['s12']/1000, cost1 = cost)
    distance = nx.get_edge_attributes(G, 'dist')
    c = nx.get_edge_attributes(G, 'cost1')
    print(f"Distance: {distance[(0, row['id'])]}, Cost: {c}")



#print(G.nodes())  
#print(G.edges()) 
longi = nx.get_node_attributes(G, "longitude")
#print(float(longi[1])) 

Supplier_Countries["Distance_from_us"] = distance1
Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
Supplier_Countries["Time_Taken"] = time1

nx.draw(G)'''

Supplier_Countries = distance_calc(Supplier_Countries, us)

In [31]:
# Randomizing variables for each order and adding specific materials supplied by each city and theor individual material costs
def Supplier_func_Week(Supplier_dataframe):
  Var1 = 0
  vol = []
  time2 = []
  Supplier_dataframe.sort_values(by = 'country', inplace=True)
  Supplier_dataframe['Material'] = ['Material_1', 'Material_2', 'Material_3', 'Material_1', 'Material_2', 'Material_3', 'Material_1', 'Material_2', 'Material_3', 'Material_2']
  Supplier_dataframe['Material_Costs'] = [5,6,12,7.5,7,10,8,8,11,10]
  for i in range(1,len(Supplier_Countries)+1):
    time2.append(random.randint(1,10))
    if i in [1,4,7]:
      vol.append(random.randint(1500,2000))
    elif i in [2,5,8,10]:
      vol.append(random.randint(3000,3500))
    else:
      vol.append(random.randint(1000, 1250))
  Supplier_dataframe['Volume'] = vol
  Supplier_dataframe["Time_Taken"] = time2
  #Setting time from low to high depending on the distance from the manufacturing center.

  Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
  time2.sort()
  
  #supply=Supplier_dataframe.groupby("Material").Volume.sum()
  Supplier_dataframe['Total_Costs'] = (Supplier_dataframe['Material_Costs']*Supplier_dataframe["Volume"])*(Supplier_dataframe['Distance_from_us']/10000)
  #cost_var = Supplier_dataframe.groupby("Material").Total_Costs.sum()
  #citywise_cost = Supplier_dataframe.groupby(['Material','city','Distance_from_us']).Total_Costs.sum()
  Supplier_dataframe['Per_Unit_Price'] = Supplier_dataframe.Total_Costs/Supplier_dataframe.Volume
  #if len(city_name) > 0:
  #  Var1 = Supplier_dataframe.loc[Supplier_dataframe.city .isin(city_name.to_list())][['Material','city','Volume']]
    #Supplier_Countries.at((Supplier_dataframe.loc[Supplier_dataframe.city .isin(city_name.to_list())].index),'Volume') = 0
  return Supplier_dataframe
Supplier_func_Week(Supplier_Countries.copy())

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,Volume,Distance_from_us,Material,Material_Costs,Time_Taken,Total_Costs,Per_Unit_Price
7,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22118000.0,1156073548,1866,11892.421516,Material_1,5.0,2,11095.629275,5.946211
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,21489000.0,1156237133,3483,12899.735317,Material_2,6.0,7,26957.866865,7.739841
34,Paris,Paris,48.8566,2.3522,France,FR,FRA,Île-de-France,primary,11027000.0,1250015082,1180,5848.624736,Material_3,12.0,2,8281.652627,7.018350
937,Marseille,Marseille,43.2964,5.3700,France,FR,FRA,Provence-Alpes-Côte d’Azur,admin,868277.0,1250774071,1941,6316.399245,Material_1,7.5,1,9195.098200,4.737299
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604,3148,11770.780931,Material_2,7.0,4,25938.092860,8.239547
6,Mumbai,Mumbai,19.0758,72.8775,India,IN,IND,Mahārāshtra,admin,22186000.0,1356226629,1065,12554.672401,Material_3,10.0,8,13370.726107,12.554672
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764,1865,10875.131358,Material_1,8.0,2,16225.695986,8.700105
18,Ōsaka,Osaka,34.7520,135.4582,Japan,JP,JPN,Ōsaka,admin,15490000.0,1392419823,3289,11127.301019,Material_2,8.0,8,29278.154442,8.901841
5,Seoul,Seoul,37.5600,126.9900,South Korea,KR,KOR,Seoul,primary,22394000.0,1410836482,1062,11081.715312,Material_3,11.0,10,12945.659827,12.189887
220,Busan,Busan,35.1000,129.0403,South Korea,KR,KOR,Busan,admin,3453198.0,1410601465,3489,11290.184512,Material_2,10.0,6,39391.453763,11.290185

In [6]:
Sup_df = Supplier_func_Week(Supplier_Countries)
Material_1_inventory = Sup_df.loc[Sup_df.Material == 'Material_1']
Mat1 = 9000
# Function to return the exact amount of material required based on order qty. Maximum material supplied is provided from the cheapest supplier.
# Minimum material is obtained from the most expensive supplier. 
def Material_Return(Material_inventory, M1):
  Material_inventory.sort_values(by = ['Material','Per_Unit_Price'], inplace = True)
  supplier_number = len(Material_inventory)
  mat_dict = {}
  mat_dict[Material_inventory.Material.unique()[0]] = []
  count = 0
  # Checking for material volume provided by supplier being equal to or exceeding the required volume of material
  # If it does then break the loop else keep appending the material provided into a dictionary.
  for index,row in Material_inventory.iterrows():
      count = count + 1
      if M1 - row['Volume'] == 0:
        mat_dict[row['Material']].append(row[['city','Volume','Total_Costs', 'Time_Taken']])
        break
      elif M1 - row['Volume'] < 0:
        row1 = pd.DataFrame()
        row1['city'] = [row['city']]
        row1['Volume'] = [M1]
        row1['Total_Costs'] = [M1*row['Per_Unit_Price']]
        row1['Time_Taken']=row['Time_Taken']
        mat_dict[row['Material']].append(row1.iloc[0])
        break
      else:
        M1 = M1 - row['Volume']
        mat_dict[row['Material']].append(row[['city','Volume','Total_Costs', 'Time_Taken']])
  return mat_dict

Material_Return(Material_1_inventory, Mat1)

{'Material_1': [city           Marseille
  Volume              1099
  Total_Costs      5206.29
  Time_Taken             9
  Name: 937, dtype: object,
  city           Shanghai
  Volume             1099
  Total_Costs     6534.89
  Time_Taken            1
  Name: 7, dtype: object,
  city             Tokyo
  Volume            1013
  Total_Costs    8813.21
  Time_Taken           5
  Name: 0, dtype: object]}

In [7]:
#Function to obtain dataframe slice which provided the specific material and demand for each material. 
# Returns a dictionary for each of the 3 materials provided
def percentage_distr(M1, M2, M3, df):
  Material_1_inventory = df.loc[df.Material == 'Material_1']
  Material_2_inventory = df.loc[df.Material == 'Material_2']
  Material_3_inventory = df.loc[df.Material == 'Material_3']
  return Material_Return(Material_1_inventory, M1), Material_Return(Material_2_inventory, M2), Material_Return(Material_3_inventory, M3)

#Function to create a dataframe with the required material amounts. This dataframe is regenerated every 10 days 
def Supply_run(var1):
  var2 = {}
  var3 = {}
  count = 0
  df_1 = pd.DataFrame()
  for value in var1:
    var2.update(value)
  for value in var2.keys():
    var3 = {}
    for value1 in range(0, len(var2[value])):
      var3['Material'] = value
      var3['city'] = var2[value][value1]['city']
      var3['Volume'] = var2[value][value1]['Volume']
      var3['Total_Costs'] = var2[value][value1]['Total_Costs']
      var3['Time_Taken'] = var2[value][value1]['Time_Taken']
      df_1 = df_1.append([var3], ignore_index= True)
  return df_1

In [8]:
#Manufacturing inventory 
def manufacturing_inventory_load():
  in_fac = []

  max_storage = {"Material1":10000, 'Material2':20000, 'Material3':10000}
  manu_capacity_per_day = 40
  unit = {"Material1": 10, "Material2":20, "Material3":5}
  needed_daily = {"Material1":400, 'Material2':800, 'Material3':200}
  needed_weekly = {"Material1":2800, 'Material2':5600, 'Material3':1400}

  for i in range(0,3):
    in_fac.append(random.randint(5000,7000))


  m_inventory = {'Name':['Material1', 'Material2', 'Material3'],
          'In_Factory': in_fac, 'Needed_Daily': list(needed_daily.values()), "Needed_Weekly" : list(needed_weekly.values())}

  deficit = [0,0,0]

  #print(m_inventory['In_Factory'])
  # Create DataFrame
  manufacturing_inventory = pd.DataFrame(m_inventory)
  #print(manufacturing_inventory.loc[manufacturing_inventory['Name']=='Material1'].Needed_Weekly)
  
  # Print the output.   
  return manufacturing_inventory
manufacturing_inventory_load()

        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6952           400           2800
1  Material2        6486           800           5600
2  Material3        5523           200           1400

In [9]:
#Days to complete the order 
def days_to_make_items(qty):
  manu_capacity_per_day = 40
  days_needed = math.ceil(qty/manu_capacity_per_day)
  return days_needed

#Number of materials needed to complete the order 
def qty_to_make_items(manufacturing_inventory, quantity):
  need1 = 0
  need2 = 0
  need3 = 0
  unit = {"Material1": 10, "Material2":20, "Material3":5}
  m1_needed = unit['Material1']*quantity
  m2_needed = unit['Material2']*quantity
  m3_needed = unit['Material3']*quantity
  if manufacturing_inventory['In_Factory'][0] < m1_needed:
    need1 = m1_needed - manufacturing_inventory['In_Factory'][0]
    print(f"Material 1 needed: {need1}")
  else:
    print(f"Material 1 present: {m1_needed}")
  if manufacturing_inventory['In_Factory'][1] < m2_needed:
    need2 = m2_needed - manufacturing_inventory['In_Factory'][1]
    print(f"Material 2 needed: {need2}")
  else:
    print(f"Material 2 present: {m2_needed}")
  if manufacturing_inventory['In_Factory'][2] < m3_needed:
    need3 = m3_needed - manufacturing_inventory['In_Factory'][2]
    print(f"Material 3 needed: {need3}")
  else:
    print(f"Material 3 present: {m3_needed}")
  return need1, need2, need3

In [10]:
#Seeing for random order numbers

def orders(manufacturing_inven, qty):
  mat_req = []
  #for i in range(0,1):
  req = random.randint(400,1000)
  print(f"For order qty: {qty}")
  M1,M2,M3 = qty_to_make_items(manufacturing_inven, qty)
  mat_req.append(M1)
  mat_req.append(M2)
  mat_req.append(M3)
  return(mat_req)
  
#orders
#mat_req

In [11]:
#daily simulation

#days = math.floor(min(manufacturing_inventory['In_Factory']/manufacturing_inventory['Needed Daily']))
#days

In [12]:
#to_supplier = [orders()]

In [13]:
# days to complete the order

def days_to_complete(order_qty):
  manu_capacity_per_day = 40
  days_to_complete = math.ceil(order_qty/manu_capacity_per_day)
  return days_to_complete

In [14]:
#Reducing inventory level each day
'''
day = 1
flag = 0
count = 1
Df1 = Supplier_func_Week(Supplier_Countries.copy())
for i in range(0,days_to_complete(600)):
  print(f"Day : {day}")
  for index, row in manufacturing_inventory.iterrows():
    count +=1
    sub = row['In_Factory']- row['Needed Daily']
    if sub<= 0 :
      manufacturing_inventory.at[index,'In_Factory'] = 0
      flag = 1
    else:
      #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
      manufacturing_inventory.at[index,'In_Factory'] = sub
  count = count + 1
  day+=1
  print(manufacturing_inventory)
  if flag ==1:
    break

'''
#deficit

'\nday = 1\nflag = 0\ncount = 1\nDf1 = Supplier_func_Week(Supplier_Countries.copy())\nfor i in range(0,days_to_complete(600)):\n  print(f"Day : {day}")\n  for index, row in manufacturing_inventory.iterrows():\n    count +=1\n    sub = row[\'In_Factory\']- row[\'Needed Daily\']\n    if sub<= 0 :\n      manufacturing_inventory.at[index,\'In_Factory\'] = 0\n      flag = 1\n    else:\n      #manufacturing_inventory.iloc[index].replace(to_replace=row[\'In_Factory\'], value = sub)\n      manufacturing_inventory.at[index,\'In_Factory\'] = sub\n  count = count + 1\n  day+=1\n  print(manufacturing_inventory)\n  if flag ==1:\n    break\n\n'

In [15]:
#Reducing inventory level each day
'''
day = 1
flag = 0
count = 1
Df1 = Supplier_func_Week(Supplier_Countries.copy())
Df2 = Supply_run(percentage_distr(mat_req[0],mat_req[1],mat_req[2],Df1))
for i in range(0,days_to_complete(900)):
  supply_df = Df2.loc[Df2.Time_Taken == i]
  if len(supply_df) > 0:
    if len(supply_df.loc[supply_df.Material == 'Material_1']) > 0:
      manufacturing_inventory.at[0, 'In_Factory'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == 'Material_1'].Volume.sum()
    if len(supply_df.loc[supply_df.Material == 'Material_2']) > 0:
      manufacturing_inventory.at[1, 'In_Factory'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == 'Material_2'].Volume.sum()
      if len(supply_df.loc[supply_df.Material == 'Material_3']) > 0:
        manufacturing_inventory.at[2, 'In_Factory'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == 'Material_3'].Volume.sum()
  print(supply_df)
  print(f"Day : {day}")
  for index, row in manufacturing_inventory.iterrows():
    count +=1
    sub = row['In_Factory']- row['Needed Daily']
    if sub<= 0 :
      manufacturing_inventory.at[index,'In_Factory'] = 0
      flag = 1
    else:
      #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
      manufacturing_inventory.at[index,'In_Factory'] = sub
  count = count + 1
  day+=1
  print(manufacturing_inventory)
  if flag ==1:
    break
'''

'\nday = 1\nflag = 0\ncount = 1\nDf1 = Supplier_func_Week(Supplier_Countries.copy())\nDf2 = Supply_run(percentage_distr(mat_req[0],mat_req[1],mat_req[2],Df1))\nfor i in range(0,days_to_complete(900)):\n  supply_df = Df2.loc[Df2.Time_Taken == i]\n  if len(supply_df) > 0:\n    if len(supply_df.loc[supply_df.Material == \'Material_1\']) > 0:\n      manufacturing_inventory.at[0, \'In_Factory\'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == \'Material_1\'].Volume.sum()\n    if len(supply_df.loc[supply_df.Material == \'Material_2\']) > 0:\n      manufacturing_inventory.at[1, \'In_Factory\'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == \'Material_2\'].Volume.sum()\n      if len(supply_df.loc[supply_df.Material == \'Material_3\']) > 0:\n        manufacturing_inventory.at[2, \'In_Factory\'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == \'Material_3\'].Volume.sum()\n  print(supply_df)\n  print(f"Day : {day}")\n  for index, row in manufacturing_inventory.iterrows():\n    count +=1\n    sub = row[\'In_Factory\']- row[\'Needed Daily\']\n    if sub<= 0 :\n      manufacturing_inventory.at[index,\'In_Factory\'] = 0\n      flag = 1\n    else:\n      #manufacturing_inventory.iloc[index].replace(to_replace=row[\'In_Factory\'], value = sub)\n      manufacturing_inventory.at[index,\'In_Factory\'] = sub\n  count = count + 1\n  day+=1\n  print(manufacturing_inventory)\n  if flag ==1:\n    break\n'

In [32]:
#Reducing inventory level each day
if __name__ == "__main__":
  try:
      no_of_iterations = int(input("Please enter the number of times you wish for the simulation to run: "))
  except:
    print("Please enter an integer")
  Supplier_Countries, us = Dataframe_Load()
  Supplier_Countries = value_add(Supplier_Countries)
  Supplier_Countries = distance_calc(Supplier_Countries, us)
  manufacturing_inventory = manufacturing_inventory_load()
  day = 1
  flag = 0
  count_days = -1
  inventory = 0
  losses = 0
  no_ordered = 0
  order_losses  = []
  costs = 0
  count = 0
  qty = random.randint(4000,10000)
  days_lost = 0
  Df1 = Supplier_func_Week(Supplier_Countries.copy())
  list_req2 = []
  list_req2 = orders(manufacturing_inventory, qty)
  print(Df1)
  Df2 = Supply_run(percentage_distr(list_req2[0],list_req2[1],list_req2[2],Df1))
  print(Df2)
  list_qty = []
  

  for i in range(0,no_of_iterations):
    qty = random.randint(4000,10000)    
    list_qty.append(qty)
    no_ordered += qty
    loss2 = 0
    for i in range(0,days_to_complete(qty)):
      count_days = count_days + 1
      supply_df = Df2.loc[Df2.Time_Taken == i]
      if count_days%10 ==0 and count_days > 0:
        list_req = orders(manufacturing_inventory, (qty-inventory))
        Df2 = Supply_run(percentage_distr(list_req[0],list_req[1],list_req[2],Df1))
        no_of_iter = count_days/10
        Df2['Time_Taken'] = Df2.Time_Taken + (10*no_of_iter) 
        print(Df2) 
      print("The materials supplied this iteration are:- \n", supply_df)
      if len(supply_df) > 0:
        if len(supply_df.loc[supply_df.Material == 'Material_1']) > 0:
          manufacturing_inventory.at[0, 'In_Factory'] = manufacturing_inventory.iloc[0].In_Factory + supply_df.loc[supply_df.Material == 'Material_1'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_1'].Total_Costs.sum()   
        if len(supply_df.loc[supply_df.Material == 'Material_2']) > 0:
          manufacturing_inventory.at[1, 'In_Factory'] = manufacturing_inventory.iloc[1].In_Factory + supply_df.loc[supply_df.Material == 'Material_2'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_2'].Total_Costs.sum()
        if len(supply_df.loc[supply_df.Material == 'Material_3']) > 0:
          manufacturing_inventory.at[2, 'In_Factory'] = manufacturing_inventory.iloc[2].In_Factory + supply_df.loc[supply_df.Material == 'Material_3'].Volume.sum()
          costs = costs +  supply_df.loc[supply_df.Material == 'Material_3'].Total_Costs.sum()
      print(costs)
      print(f"Day : {day}")

      for index, row in manufacturing_inventory.iterrows():
        if min(manufacturing_inventory["In_Factory"]) <= 0:
          flag = 1
          break  
        count +=1
        sub = row['In_Factory']- row['Needed_Daily']
        if sub<= 0 :
          manufacturing_inventory.at[index,'In_Factory'] = 0
          flag = 1
        else:
          #manufacturing_inventory.iloc[index].replace(to_replace=row['In_Factory'], value = sub)
          manufacturing_inventory.at[index,'In_Factory'] = sub
          flag = 0
      day+=1
      print(manufacturing_inventory)
      if flag !=1:
        inventory = inventory + 40
      else:
        days_lost = days_lost + 1
        losses = losses + 40
        loss2 = losses
        print("Inventory is: ", inventory)
    order_losses.append(loss2)
  
  #---------------------#

  
  try:
    var0 = costs/no_ordered
    inventory_lost = (days_lost/no_of_iterations)*40
    print("Total Losses made are: ", inventory_lost*var0)
    print(f"Average Optimized cost for order quantity of {no_ordered} orders is: {(costs/no_of_iterations)}")
    print(f"Average Optimized days lost is: {(days_lost/no_of_iterations)}")
    print(f"Average Optimized price per good is: {(costs/inventory)}")
    print(f"Average Optimized price per good should have been: {(var0)}")
  except:
    pass
  print(order_losses)
  print(no_ordered)

Please enter the number of times you wish for the simulation to run: 2
For order qty: 6652
Material 1 needed: 61336
Material 2 needed: 126986
Material 3 needed: 26590
          city city_ascii      lat       lng      country iso2 iso3  \
7     Shanghai   Shanghai  31.1667  121.4667        China   CN  CHN
9    Guangzhou  Guangzhou  23.1288  113.2590        China   CN  CHN
34       Paris      Paris  48.8566    2.3522       France   FR  FRA
937  Marseille  Marseille  43.2964    5.3700       France   FR  FRA
2        Delhi      Delhi  28.6667   77.2167        India   IN  IND
6       Mumbai     Mumbai  19.0758   72.8775        India   IN  IND
0        Tokyo      Tokyo  35.6839  139.7744        Japan   JP  JPN
18       Ōsaka      Osaka  34.7520  135.4582        Japan   JP  JPN
5        Seoul      Seoul  37.5600  126.9900  South Korea   KR  KOR
220      Busan      Busan  35.1000  129.0403  South Korea   KR  KOR

                     admin_name  capital  population          id  Volume  \
7                      Shanghai    admin  22118000.0  1156073548    1766
9                     Guangdong    admin  21489000.0  1156237133    3172
34                Île-de-France  primary  11027000.0  1250015082    1179
937  Provence-Alpes-Côte d’Azur    admin    868277.0  1250774071    1585
2                         Delhi    admin  31870000.0  1356872604    3125
6                   Mahārāshtra    admin  22186000.0  1356226629    1210
0                         Tōkyō  primary  39105000.0  1392685764    1968
18                        Ōsaka    admin  15490000.0  1392419823    3486
5                         Seoul  primary  22394000.0  1410836482    1013
220                       Busan    admin   3453198.0  1410601465    3038

     Distance_from_us    Material  Material_Costs  Time_Taken   Total_Costs  \
7        11892.421516  Material_1             5.0           1  10501.008199
9        12899.735317  Material_2             6.0           3  24550.776255
34        5848.624736  Material_3            12.0           2   8274.634277
937       6316.399245  Material_1             7.5          10   7508.619602
2        11770.780931  Material_2             7.0           4  25748.583287
6        12554.672401  Material_3            10.0           6  15191.153605
0        10875.131358  Material_1             8.0           1  17121.806810
18       11127.301019  Material_2             8.0           8  31031.817082
5        11081.715312  Material_3            11.0           7  12348.355372
220      11290.184512  Material_2            10.0           6  34299.580548

     Per_Unit_Price
7          5.946211
9          7.739841
34         7.018350
937        4.737299
2          8.239547
6         12.554672
0          8.700105
18         8.901841
5         12.189887
220       11.290185
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602          10
1  Material_1   Shanghai    1766  10501.008199           1
2  Material_1      Tokyo    1968  17121.806810           1
3  Material_2  Guangzhou    3172  24550.776255           3
4  Material_2      Delhi    3125  25748.583287           4
5  Material_2      Ōsaka    3486  31031.817082           8
6  Material_2      Busan    3038  34299.580548           6
7  Material_3      Paris    1179   8274.634277           2
8  Material_3      Seoul    1013  12348.355372           7
9  Material_3     Mumbai    1210  15191.153605           6
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
0
Day : 1
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4784           400           2800
1  Material2        5254           800           5600
2  Material3        6470           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199           1
2  Material_1     Tokyo    1968  17121.806810           1
27622.815009246704
Day : 2
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8118           400           2800
1  Material2        4454           800           5600
2  Material3        6270           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277           2
35897.44928626287
Day : 3
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7718           400           2800
1  Material2        3654           800           5600
2  Material3        7249           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255           3
60448.22554115343
Day : 4
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7318           400           2800
1  Material2        6026           800           5600
2  Material3        7049           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287           4
86196.80882861884
Day : 5
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6918           400           2800
1  Material2        8351           800           5600
2  Material3        6849           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
86196.80882861884
Day : 6
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6518           400           2800
1  Material2        7551           800           5600
2  Material3        6649           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548           6
9  Material_3  Mumbai    1210  15191.153605           6
135687.54298163968
Day : 7
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6118           400           2800
1  Material2        9789           800           5600
2  Material3        7659           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372           7
148035.89835358452
Day : 8
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5718           400           2800
1  Material2        8989           800           5600
2  Material3        8472           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082           8
179067.7154358227
Day : 9
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5318           400           2800
1  Material2       11675           800           5600
2  Material3        8272           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
179067.7154358227
Day : 10
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4918           400           2800
1  Material2       10875           800           5600
2  Material3        8072           200           1400
For order qty: 8284
Material 1 needed: 77922
Material 2 needed: 154805
Material 3 needed: 33348
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        20.0
1  Material_1   Shanghai    1766  10501.008199        11.0
2  Material_1      Tokyo    1968  17121.806810        11.0
3  Material_2  Guangzhou    3172  24550.776255        13.0
4  Material_2      Delhi    3125  25748.583287        14.0
5  Material_2      Ōsaka    3486  31031.817082        18.0
6  Material_2      Busan    3038  34299.580548        16.0
7  Material_3      Paris    1179   8274.634277        12.0
8  Material_3      Seoul    1013  12348.355372        17.0
9  Material_3     Mumbai    1210  15191.153605        16.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602          10
186576.3350377654
Day : 11
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6103           400           2800
1  Material2       10075           800           5600
2  Material3        7872           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        11.0
2  Material_1     Tokyo    1968  17121.806810        11.0
214199.1500470121
Day : 12
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9437           400           2800
1  Material2        9275           800           5600
2  Material3        7672           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        12.0
222473.78432402827
Day : 13
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9037           400           2800
1  Material2        8475           800           5600
2  Material3        8651           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        13.0
247024.5605789188
Day : 14
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8637           400           2800
1  Material2       10847           800           5600
2  Material3        8451           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        14.0
272773.1438663842
Day : 15
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8237           400           2800
1  Material2       13172           800           5600
2  Material3        8251           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
272773.1438663842
Day : 16
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7837           400           2800
1  Material2       12372           800           5600
2  Material3        8051           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        16.0
9  Material_3  Mumbai    1210  15191.153605        16.0

322263.87801940506
Day : 17
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7437           400           2800
1  Material2       14610           800           5600
2  Material3        9061           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        17.0
334612.2333913499
Day : 18
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7037           400           2800
1  Material2       13810           800           5600
2  Material3        9874           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        18.0
365644.0504735881
Day : 19
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6637           400           2800
1  Material2       16496           800           5600
2  Material3        9674           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
365644.0504735881
Day : 20
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6237           400           2800
1  Material2       15696           800           5600
2  Material3        9474           200           1400
For order qty: 7884
Material 1 needed: 72603
Material 2 needed: 141984
Material 3 needed: 29946
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        30.0
1  Material_1   Shanghai    1766  10501.008199        21.0
2  Material_1      Tokyo    1968  17121.806810        21.0
3  Material_2  Guangzhou    3172  24550.776255        23.0
4  Material_2      Delhi    3125  25748.583287        24.0
5  Material_2      Ōsaka    3486  31031.817082        28.0
6  Material_2      Busan    3038  34299.580548        26.0
7  Material_3      Paris    1179   8274.634277        22.0
8  Material_3      Seoul    1013  12348.355372        27.0
9  Material_3     Mumbai    1210  15191.153605        26.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        20.0
373152.6700755308
Day : 21
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7422           400           2800
1  Material2       14896           800           5600
2  Material3        9274           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        21.0
2  Material_1     Tokyo    1968  17121.806810        21.0
400775.4850847775
Day : 22
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10756           400           2800
1  Material2       14096           800           5600
2  Material3        9074           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        22.0
409050.1193617937
Day : 23
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10356           400           2800
1  Material2       13296           800           5600
2  Material3       10053           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        23.0
433600.8956166842
Day : 24
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9956           400           2800
1  Material2       15668           800           5600
2  Material3        9853           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        24.0
459349.4789041496
Day : 25
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9556           400           2800
1  Material2       17993           800           5600
2  Material3        9653           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
459349.4789041496
Day : 26
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9156           400           2800
1  Material2       17193           800           5600
2  Material3        9453           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        26.0
9  Material_3  Mumbai    1210  15191.153605        26.0
508840.21305717045
Day : 27
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8756           400           2800
1  Material2       19431           800           5600
2  Material3       10463           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        27.0
521188.5684291153
Day : 28
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8356           400           2800
1  Material2       18631           800           5600
2  Material3       11276           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        28.0
552220.3855113535
Day : 29
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7956           400           2800
1  Material2       21317           800           5600
2  Material3       11076           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
552220.3855113535
Day : 30
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7556           400           2800
1  Material2       20517           800           5600
2  Material3       10876           200           1400
For order qty: 7484
Material 1 needed: 67284
Material 2 needed: 129163
Material 3 needed: 26544
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        40.0
1  Material_1   Shanghai    1766  10501.008199        31.0
2  Material_1      Tokyo    1968  17121.806810        31.0
3  Material_2  Guangzhou    3172  24550.776255        33.0
4  Material_2      Delhi    3125  25748.583287        34.0
5  Material_2      Ōsaka    3486  31031.817082        38.0
6  Material_2      Busan    3038  34299.580548        36.0
7  Material_3      Paris    1179   8274.634277        32.0
8  Material_3      Seoul    1013  12348.355372        37.0
9  Material_3     Mumbai    1210  15191.153605        36.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        30.0
559729.0051132962
Day : 31
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8741           400           2800
1  Material2       19717           800           5600
2  Material3       10676           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        31.0
2  Material_1     Tokyo    1968  17121.806810        31.0
587351.8201225429
Day : 32
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12075           400           2800
1  Material2       18917           800           5600
2  Material3       10476           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        32.0
595626.4543995591
Day : 33
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11675           400           2800
1  Material2       18117           800           5600
2  Material3       11455           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        33.0
620177.2306544497
Day : 34
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11275           400           2800
1  Material2       20489           800           5600
2  Material3       11255           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        34.0
645925.813941915
Day : 35
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10875           400           2800
1  Material2       22814           800           5600
2  Material3       11055           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
645925.813941915
Day : 36
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10475           400           2800
1  Material2       22014           800           5600
2  Material3       10855           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        36.0
9  Material_3  Mumbai    1210  15191.153605        36.0
695416.5480949358
Day : 37
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10075           400           2800
1  Material2       24252           800           5600
2  Material3       11865           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        37.0
707764.9034668807
Day : 38
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9675           400           2800
1  Material2       23452           800           5600
2  Material3       12678           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        38.0

738796.7205491188
Day : 39
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9275           400           2800
1  Material2       26138           800           5600
2  Material3       12478           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
738796.7205491188
Day : 40
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8875           400           2800
1  Material2       25338           800           5600
2  Material3       12278           200           1400
For order qty: 7084
Material 1 needed: 61965
Material 2 needed: 116342
Material 3 needed: 23142
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        50.0
1  Material_1   Shanghai    1766  10501.008199        41.0
2  Material_1      Tokyo    1968  17121.806810        41.0
3  Material_2  Guangzhou    3172  24550.776255        43.0
4  Material_2      Delhi    3125  25748.583287        44.0
5  Material_2      Ōsaka    3486  31031.817082        48.0
6  Material_2      Busan    3038  34299.580548        46.0
7  Material_3      Paris    1179   8274.634277        42.0
8  Material_3      Seoul    1013  12348.355372        47.0
9  Material_3     Mumbai    1210  15191.153605        46.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        40.0
746305.3401510615
Day : 41
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10060           400           2800
1  Material2       24538           800           5600
2  Material3       12078           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        41.0
2  Material_1     Tokyo    1968  17121.806810        41.0
773928.1551603082
Day : 42
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13394           400           2800
1  Material2       23738           800           5600
2  Material3       11878           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        42.0
782202.7894373244
Day : 43
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12994           400           2800
1  Material2       22938           800           5600
2  Material3       12857           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        43.0
806753.565692215
Day : 44
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12594           400           2800
1  Material2       25310           800           5600
2  Material3       12657           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        44.0
832502.1489796804
Day : 45
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12194           400           2800
1  Material2       27635           800           5600
2  Material3       12457           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
832502.1489796804
Day : 46
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11794           400           2800
1  Material2       26835           800           5600
2  Material3       12257           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        46.0
9  Material_3  Mumbai    1210  15191.153605        46.0
881992.8831327012
Day : 47
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11394           400           2800
1  Material2       29073           800           5600
2  Material3       13267           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        47.0
894341.238504646
Day : 48
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10994           400           2800
1  Material2       28273           800           5600
2  Material3       14080           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        48.0
925373.0555868841
Day : 49
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10594           400           2800
1  Material2       30959           800           5600
2  Material3       13880           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
925373.0555868841
Day : 50
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10194           400           2800
1  Material2       30159           800           5600
2  Material3       13680           200           1400
For order qty: 6684
Material 1 needed: 56646
Material 2 needed: 103521
Material 3 needed: 19740
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        60.0
1  Material_1   Shanghai    1766  10501.008199        51.0
2  Material_1      Tokyo    1968  17121.806810        51.0
3  Material_2  Guangzhou    3172  24550.776255        53.0
4  Material_2      Delhi    3125  25748.583287        54.0
5  Material_2      Ōsaka    3486  31031.817082        58.0
6  Material_2      Busan    3038  34299.580548        56.0
7  Material_3      Paris    1179   8274.634277        52.0
8  Material_3      Seoul    1013  12348.355372        57.0
9  Material_3     Mumbai    1210  15191.153605        56.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        50.0
932881.6751888269
Day : 51
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11379           400           2800
1  Material2       29359           800           5600
2  Material3       13480           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        51.0
2  Material_1     Tokyo    1968  17121.806810        51.0
960504.4901980736
Day : 52
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14713           400           2800
1  Material2       28559           800           5600
2  Material3       13280           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        52.0
968779.1244750897
Day : 53
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14313           400           2800
1  Material2       27759           800           5600
2  Material3       14259           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        53.0
993329.9007299803
Day : 54
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13913           400           2800
1  Material2       30131           800           5600
2  Material3       14059           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        54.0
1019078.4840174457
Day : 55
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13513           400           2800
1  Material2       32456           800           5600
2  Material3       13859           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1019078.4840174457
Day : 56
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13113           400           2800
1  Material2       31656           800           5600
2  Material3       13659           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        56.0
9  Material_3  Mumbai    1210  15191.153605        56.0

1068569.2181704666
Day : 57
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12713           400           2800
1  Material2       33894           800           5600
2  Material3       14669           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        57.0
1080917.5735424114
Day : 58
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12313           400           2800
1  Material2       33094           800           5600
2  Material3       15482           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        58.0
1111949.3906246496
Day : 59
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11913           400           2800
1  Material2       35780           800           5600
2  Material3       15282           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1111949.3906246496
Day : 60
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11513           400           2800
1  Material2       34980           800           5600
2  Material3       15082           200           1400
For order qty: 6284
Material 1 needed: 51327
Material 2 needed: 90700
Material 3 needed: 16338
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        70.0
1  Material_1   Shanghai    1766  10501.008199        61.0
2  Material_1      Tokyo    1968  17121.806810        61.0
3  Material_2  Guangzhou    3172  24550.776255        63.0
4  Material_2      Delhi    3125  25748.583287        64.0
5  Material_2      Ōsaka    3486  31031.817082        68.0
6  Material_2      Busan    3038  34299.580548        66.0
7  Material_3      Paris    1179   8274.634277        62.0
8  Material_3      Seoul    1013  12348.355372        67.0
9  Material_3     Mumbai    1210  15191.153605        66.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        60.0
1119458.0102265924
Day : 61
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12698           400           2800
1  Material2       34180           800           5600
2  Material3       14882           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        61.0
2  Material_1     Tokyo    1968  17121.806810        61.0
1147080.8252358392
Day : 62
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16032           400           2800
1  Material2       33380           800           5600
2  Material3       14682           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        62.0
1155355.4595128554
Day : 63
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15632           400           2800
1  Material2       32580           800           5600
2  Material3       15661           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        63.0
1179906.2357677459
Day : 64
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15232           400           2800
1  Material2       34952           800           5600
2  Material3       15461           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        64.0
1205654.8190552113
Day : 65
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14832           400           2800
1  Material2       37277           800           5600
2  Material3       15261           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1205654.8190552113
Day : 66
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14432           400           2800
1  Material2       36477           800           5600
2  Material3       15061           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        66.0
9  Material_3  Mumbai    1210  15191.153605        66.0
1255145.5532082322
Day : 67
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14032           400           2800
1  Material2       38715           800           5600
2  Material3       16071           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        67.0
1267493.908580177
Day : 68
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13632           400           2800
1  Material2       37915           800           5600
2  Material3       16884           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        68.0
1298525.7256624151
Day : 69
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13232           400           2800
1  Material2       40601           800           5600
2  Material3       16684           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1298525.7256624151
Day : 70
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12832           400           2800
1  Material2       39801           800           5600
2  Material3       16484           200           1400
For order qty: 5884
Material 1 needed: 46008
Material 2 needed: 77879
Material 3 needed: 12936
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        80.0
1  Material_1   Shanghai    1766  10501.008199        71.0
2  Material_1      Tokyo    1968  17121.806810        71.0
3  Material_2  Guangzhou    3172  24550.776255        73.0
4  Material_2      Delhi    3125  25748.583287        74.0
5  Material_2      Ōsaka    3486  31031.817082        78.0
6  Material_2      Busan    3038  34299.580548        76.0
7  Material_3      Paris    1179   8274.634277        72.0
8  Material_3      Seoul    1013  12348.355372        77.0
9  Material_3     Mumbai    1210  15191.153605        76.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        70.0
1306034.345264358
Day : 71
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14017           400           2800
1  Material2       39001           800           5600
2  Material3       16284           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        71.0
2  Material_1     Tokyo    1968  17121.806810        71.0
1333657.1602736048
Day : 72
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17351           400           2800
1  Material2       38201           800           5600
2  Material3       16084           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        72.0
1341931.794550621
Day : 73
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16951           400           2800
1  Material2       37401           800           5600
2  Material3       17063           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        73.0

1366482.5708055114
Day : 74
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16551           400           2800
1  Material2       39773           800           5600
2  Material3       16863           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        74.0
1392231.1540929768
Day : 75
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16151           400           2800
1  Material2       42098           800           5600
2  Material3       16663           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1392231.1540929768
Day : 76
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15751           400           2800
1  Material2       41298           800           5600
2  Material3       16463           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        76.0
9  Material_3  Mumbai    1210  15191.153605        76.0
1441721.8882459977
Day : 77
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15351           400           2800
1  Material2       43536           800           5600
2  Material3       17473           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        77.0
1454070.2436179426
Day : 78
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14951           400           2800
1  Material2       42736           800           5600
2  Material3       18286           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        78.0
1485102.0607001807
Day : 79
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14551           400           2800
1  Material2       45422           800           5600
2  Material3       18086           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1485102.0607001807
Day : 80
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14151           400           2800
1  Material2       44622           800           5600
2  Material3       17886           200           1400
For order qty: 5484
Material 1 needed: 40689
Material 2 needed: 65058
Material 3 needed: 9534
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602        90.0
1  Material_1   Shanghai    1766  10501.008199        81.0
2  Material_1      Tokyo    1968  17121.806810        81.0
3  Material_2  Guangzhou    3172  24550.776255        83.0
4  Material_2      Delhi    3125  25748.583287        84.0
5  Material_2      Ōsaka    3486  31031.817082        88.0
6  Material_2      Busan    3038  34299.580548        86.0
7  Material_3      Paris    1179   8274.634277        82.0
8  Material_3      Seoul    1013  12348.355372        87.0
9  Material_3     Mumbai    1210  15191.153605        86.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        80.0
1492610.6803021235
Day : 81
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15336           400           2800
1  Material2       43822           800           5600
2  Material3       17686           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        81.0
2  Material_1     Tokyo    1968  17121.806810        81.0
1520233.4953113704
Day : 82
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18670           400           2800
1  Material2       43022           800           5600
2  Material3       17486           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        82.0
1528508.1295883865
Day : 83
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18270           400           2800
1  Material2       42222           800           5600
2  Material3       18465           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        83.0
1553058.905843277
Day : 84
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17870           400           2800
1  Material2       44594           800           5600
2  Material3       18265           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        84.0
1578807.4891307424
Day : 85
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17470           400           2800
1  Material2       46919           800           5600
2  Material3       18065           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1578807.4891307424
Day : 86
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17070           400           2800
1  Material2       46119           800           5600
2  Material3       17865           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        86.0
9  Material_3  Mumbai    1210  15191.153605        86.0
1628298.2232837633
Day : 87
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16670           400           2800
1  Material2       48357           800           5600
2  Material3       18875           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        87.0
1640646.578655708
Day : 88
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16270           400           2800
1  Material2       47557           800           5600
2  Material3       19688           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        88.0
1671678.3957379463
Day : 89
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15870           400           2800
1  Material2       50243           800           5600
2  Material3       19488           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1671678.3957379463
Day : 90
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15470           400           2800
1  Material2       49443           800           5600
2  Material3       19288           200           1400
For order qty: 5084
Material 1 needed: 35370
Material 2 needed: 52237
Material 3 needed: 6132
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       100.0
1  Material_1   Shanghai    1766  10501.008199        91.0
2  Material_1      Tokyo    1968  17121.806810        91.0
3  Material_2  Guangzhou    3172  24550.776255        93.0
4  Material_2      Delhi    3125  25748.583287        94.0
5  Material_2      Ōsaka    3486  31031.817082        98.0
6  Material_2      Busan    3038  34299.580548        96.0
7  Material_3      Paris    1179   8274.634277        92.0
8  Material_3      Seoul    1013  12348.355372        97.0
9  Material_3     Mumbai    1210  15191.153605        96.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602        90.0
1679187.015339889
Day : 91
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16655           400           2800
1  Material2       48643           800           5600
2  Material3       19088           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199        91.0
2  Material_1     Tokyo    1968  17121.806810        91.0
1706809.830349136
Day : 92
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19989           400           2800
1  Material2       47843           800           5600
2  Material3       18888           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277        92.0
1715084.464626152
Day : 93
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19589           400           2800
1  Material2       47043           800           5600
2  Material3       19867           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255        93.0
1739635.2408810426
Day : 94
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19189           400           2800
1  Material2       49415           800           5600
2  Material3       19667           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287        94.0
1765383.824168508
Day : 95
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18789           400           2800
1  Material2       51740           800           5600
2  Material3       19467           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1765383.824168508
Day : 96
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18389           400           2800
1  Material2       50940           800           5600
2  Material3       19267           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548        96.0
9  Material_3  Mumbai    1210  15191.153605        96.0
1814874.5583215288
Day : 97
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17989           400           2800
1  Material2       53178           800           5600
2  Material3       20277           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372        97.0
1827222.9136934737
Day : 98
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17589           400           2800
1  Material2       52378           800           5600
2  Material3       21090           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082        98.0
1858254.7307757118
Day : 99
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17189           400           2800
1  Material2       55064           800           5600
2  Material3       20890           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1858254.7307757118
Day : 100
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16789           400           2800
1  Material2       54264           800           5600
2  Material3       20690           200           1400
For order qty: 4684
Material 1 needed: 30051
Material 2 needed: 39416
Material 3 needed: 2730
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       110.0
1  Material_1   Shanghai    1766  10501.008199       101.0
2  Material_1      Tokyo    1968  17121.806810       101.0
3  Material_2  Guangzhou    3172  24550.776255       103.0
4  Material_2      Delhi    3125  25748.583287       104.0
5  Material_2      Ōsaka    3486  31031.817082       108.0
6  Material_2      Busan    3038  34299.580548       106.0
7  Material_3      Paris    1179   8274.634277       102.0
8  Material_3      Seoul    1013  12348.355372       107.0
9  Material_3     Mumbai     538   6754.413752       106.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       100.0
1865763.3503776547
Day : 101
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17974           400           2800
1  Material2       53464           800           5600
2  Material3       20490           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199       101.0
2  Material_1     Tokyo    1968  17121.806810       101.0
1893386.1653869015
Day : 102
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21308           400           2800
1  Material2       52664           800           5600
2  Material3       20290           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris    1179  8274.634277       102.0
1901660.7996639176
Day : 103
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20908           400           2800
1  Material2       51864           800           5600
2  Material3       21269           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255       103.0
1926211.575918808
Day : 104
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20508           400           2800
1  Material2       54236           800           5600
2  Material3       21069           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287       104.0
1951960.1592062735
Day : 105
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20108           400           2800
1  Material2       56561           800           5600
2  Material3       20869           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
1951960.1592062735
Day : 106
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19708           400           2800
1  Material2       55761           800           5600
2  Material3       20669           200           1400
The materials supplied this iteration are:-
      Material    city  Volume   Total_Costs  Time_Taken
6  Material_2   Busan    3038  34299.580548       106.0
9  Material_3  Mumbai     538   6754.413752       106.0
1993014.1535057724
Day : 107
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19308           400           2800
1  Material2       57999           800           5600
2  Material3       21007           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
8  Material_3  Seoul    1013  12348.355372       107.0
2005362.5088777172
Day : 108
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18908           400           2800
1  Material2       57199           800           5600
2  Material3       21820           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082       108.0
2036394.3259599553
Day : 109
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18508           400           2800
1  Material2       59885           800           5600
2  Material3       21620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2036394.3259599553
Day : 110
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18108           400           2800
1  Material2       59085           800           5600
2  Material3       21420           200           1400
For order qty: 4284
Material 1 needed: 24732
Material 2 needed: 26595
Material 3 present: 21420
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       120.0
1  Material_1   Shanghai    1766  10501.008199       111.0
2  Material_1      Tokyo    1968  17121.806810       111.0
3  Material_2  Guangzhou    3172  24550.776255       113.0
4  Material_2      Delhi    3125  25748.583287       114.0
5  Material_2      Ōsaka    3486  31031.817082       118.0
6  Material_2      Busan    3038  34299.580548       116.0
7  Material_3      Paris       0      0.000000       112.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       110.0

2043902.9455618982
Day : 111
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19293           400           2800
1  Material2       58285           800           5600
2  Material3       21220           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199       111.0
2  Material_1     Tokyo    1968  17121.806810       111.0
2071525.760571145
Day : 112
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22627           400           2800
1  Material2       57485           800           5600
2  Material3       21020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris       0          0.0       112.0
2071525.760571145
Day : 113
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22227           400           2800
1  Material2       56685           800           5600
2  Material3       20820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255       113.0
2096076.5368260355
Day : 114
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21827           400           2800
1  Material2       59057           800           5600
2  Material3       20620           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287       114.0
2121825.120113501
Day : 115
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21427           400           2800
1  Material2       61382           800           5600
2  Material3       20420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2121825.120113501
Day : 116
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21027           400           2800
1  Material2       60582           800           5600
2  Material3       20220           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
6  Material_2  Busan    3038  34299.580548       116.0
2156124.7006612215
Day : 117
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20627           400           2800
1  Material2       62820           800           5600
2  Material3       20020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2156124.7006612215
Day : 118
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20227           400           2800
1  Material2       62020           800           5600
2  Material3       19820           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082       118.0
2187156.51774346
Day : 119
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19827           400           2800
1  Material2       64706           800           5600
2  Material3       19620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2187156.51774346
Day : 120
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19427           400           2800
1  Material2       63906           800           5600
2  Material3       19420           200           1400
For order qty: 3884
Material 1 needed: 19413
Material 2 needed: 13774
Material 3 present: 19420
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       130.0
1  Material_1   Shanghai    1766  10501.008199       121.0
2  Material_1      Tokyo    1968  17121.806810       121.0
3  Material_2  Guangzhou    3172  24550.776255       123.0
4  Material_2      Delhi    3125  25748.583287       124.0
5  Material_2      Ōsaka    3486  31031.817082       128.0
6  Material_2      Busan    3038  34299.580548       126.0
7  Material_3      Paris       0      0.000000       122.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       120.0
2194665.1373454025
Day : 121
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20612           400           2800
1  Material2       63106           800           5600
2  Material3       19220           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199       121.0
2  Material_1     Tokyo    1968  17121.806810       121.0
2222287.952354649
Day : 122
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23946           400           2800
1  Material2       62306           800           5600
2  Material3       19020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
7  Material_3  Paris       0          0.0       122.0
2222287.952354649
Day : 123
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23546           400           2800
1  Material2       61506           800           5600
2  Material3       18820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume   Total_Costs  Time_Taken
3  Material_2  Guangzhou    3172  24550.776255       123.0
2246838.7286095396
Day : 124
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23146           400           2800
1  Material2       63878           800           5600
2  Material3       18620           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
4  Material_2  Delhi    3125  25748.583287       124.0
2272587.311897005
Day : 125
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22746           400           2800
1  Material2       66203           800           5600
2  Material3       18420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2272587.311897005
Day : 126
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22346           400           2800
1  Material2       65403           800           5600
2  Material3       18220           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
6  Material_2  Busan    3038  34299.580548       126.0
2306886.8924447256
Day : 127
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21946           400           2800
1  Material2       67641           800           5600
2  Material3       18020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2306886.8924447256
Day : 128
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21546           400           2800
1  Material2       66841           800           5600
2  Material3       17820           200           1400
The materials supplied this iteration are:-
      Material   city  Volume   Total_Costs  Time_Taken
5  Material_2  Ōsaka    3486  31031.817082       128.0
2337918.709526964
Day : 129
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21146           400           2800
1  Material2       69527           800           5600
2  Material3       17620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2337918.709526964
Day : 130
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20746           400           2800
1  Material2       68727           800           5600
2  Material3       17420           200           1400
For order qty: 3484
Material 1 needed: 14094
Material 2 needed: 953
Material 3 present: 17420

     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       140.0
1  Material_1   Shanghai    1766  10501.008199       131.0
2  Material_1      Tokyo    1968  17121.806810       131.0
3  Material_2  Guangzhou     953   7376.068654       133.0
4  Material_3      Paris       0      0.000000       132.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       130.0
2345427.3291289066
Day : 131
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21931           400           2800
1  Material2       67927           800           5600
2  Material3       17220           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199       131.0
2  Material_1     Tokyo    1968  17121.806810       131.0
2373050.144138153
Day : 132
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25265           400           2800
1  Material2       67127           800           5600
2  Material3       17020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
4  Material_3  Paris       0          0.0       132.0
2373050.144138153
Day : 133
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24865           400           2800
1  Material2       66327           800           5600
2  Material3       16820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
3  Material_2  Guangzhou     953  7376.068654       133.0
2380426.2127922866
Day : 134
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24465           400           2800
1  Material2       66480           800           5600
2  Material3       16620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2380426.2127922866
Day : 135
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24065           400           2800
1  Material2       65680           800           5600
2  Material3       16420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2380426.2127922866
Day : 136
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23665           400           2800
1  Material2       64880           800           5600
2  Material3       16220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2380426.2127922866
Day : 137
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23265           400           2800
1  Material2       64080           800           5600
2  Material3       16020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2380426.2127922866
Day : 138
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22865           400           2800
1  Material2       63280           800           5600
2  Material3       15820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2380426.2127922866
Day : 139
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22465           400           2800
1  Material2       62480           800           5600
2  Material3       15620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2380426.2127922866
Day : 140
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22065           400           2800
1  Material2       61680           800           5600
2  Material3       15420           200           1400
For order qty: 3084
Material 1 needed: 8775
Material 2 present: 61680
Material 3 present: 15420
     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       150.0
1  Material_1   Shanghai    1766  10501.008199       141.0
2  Material_1      Tokyo    1968  17121.806810       141.0
3  Material_2  Guangzhou       0      0.000000       143.0
4  Material_3      Paris       0      0.000000       142.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       140.0
2387934.8323942292
Day : 141
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23250           400           2800
1  Material2       60880           800           5600
2  Material3       15220           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199       141.0
2  Material_1     Tokyo    1968  17121.806810       141.0
2415557.647403476
Day : 142
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26584           400           2800
1  Material2       60080           800           5600
2  Material3       15020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
4  Material_3  Paris       0          0.0       142.0
2415557.647403476
Day : 143
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26184           400           2800
1  Material2       59280           800           5600
2  Material3       14820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
3  Material_2  Guangzhou       0          0.0       143.0
2415557.647403476
Day : 144
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25784           400           2800
1  Material2       58480           800           5600
2  Material3       14620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2415557.647403476
Day : 145
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25384           400           2800
1  Material2       57680           800           5600
2  Material3       14420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2415557.647403476
Day : 146
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24984           400           2800
1  Material2       56880           800           5600
2  Material3       14220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2415557.647403476
Day : 147
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24584           400           2800
1  Material2       56080           800           5600
2  Material3       14020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2415557.647403476
Day : 148
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24184           400           2800
1  Material2       55280           800           5600
2  Material3       13820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2415557.647403476
Day : 149
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23784           400           2800
1  Material2       54480           800           5600
2  Material3       13620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2415557.647403476
Day : 150
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23384           400           2800
1  Material2       53680           800           5600
2  Material3       13420           200           1400
For order qty: 2684
Material 1 needed: 3456
Material 2 present: 53680
Material 3 present: 13420

     Material       city  Volume   Total_Costs  Time_Taken
0  Material_1  Marseille    1585   7508.619602       160.0
1  Material_1   Shanghai    1766  10501.008199       151.0
2  Material_1      Tokyo     105    913.511034       151.0
3  Material_2  Guangzhou       0      0.000000       153.0
4  Material_3      Paris       0      0.000000       152.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       150.0
2423066.2670054184
Day : 151
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24569           400           2800
1  Material2       52880           800           5600
2  Material3       13220           200           1400
The materials supplied this iteration are:-
      Material      city  Volume   Total_Costs  Time_Taken
1  Material_1  Shanghai    1766  10501.008199       151.0
2  Material_1     Tokyo     105    913.511034       151.0
2434480.786238439
Day : 152
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       26040           400           2800
1  Material2       52080           800           5600
2  Material3       13020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
4  Material_3  Paris       0          0.0       152.0
2434480.786238439
Day : 153
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25640           400           2800
1  Material2       51280           800           5600
2  Material3       12820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
3  Material_2  Guangzhou       0          0.0       153.0
2434480.786238439
Day : 154
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       25240           400           2800
1  Material2       50480           800           5600
2  Material3       12620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2434480.786238439
Day : 155
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24840           400           2800
1  Material2       49680           800           5600
2  Material3       12420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2434480.786238439
Day : 156
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24440           400           2800
1  Material2       48880           800           5600
2  Material3       12220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2434480.786238439
Day : 157
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24040           400           2800
1  Material2       48080           800           5600
2  Material3       12020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2434480.786238439
Day : 158
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23640           400           2800
1  Material2       47280           800           5600
2  Material3       11820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2434480.786238439
Day : 159
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23240           400           2800
1  Material2       46480           800           5600
2  Material3       11620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2434480.786238439
Day : 160
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22840           400           2800
1  Material2       45680           800           5600
2  Material3       11420           200           1400
For order qty: 2284
Material 1 present: 22840
Material 2 present: 45680
Material 3 present: 11420
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       170.0
1  Material_2  Guangzhou       0          0.0       163.0
2  Material_3      Paris       0          0.0       162.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille    1585  7508.619602       160.0
2441989.4058403815
Day : 161
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       24025           400           2800
1  Material2       44880           800           5600
2  Material3       11220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 162
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23625           400           2800
1  Material2       44080           800           5600
2  Material3       11020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
2  Material_3  Paris       0          0.0       162.0
2441989.4058403815
Day : 163
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       23225           400           2800
1  Material2       43280           800           5600
2  Material3       10820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
1  Material_2  Guangzhou       0          0.0       163.0
2441989.4058403815
Day : 164
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22825           400           2800
1  Material2       42480           800           5600
2  Material3       10620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 165
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22425           400           2800
1  Material2       41680           800           5600
2  Material3       10420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 166
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       22025           400           2800
1  Material2       40880           800           5600
2  Material3       10220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 167
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21625           400           2800
1  Material2       40080           800           5600
2  Material3       10020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 168
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       21225           400           2800
1  Material2       39280           800           5600
2  Material3        9820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 169
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20825           400           2800
1  Material2       38480           800           5600
2  Material3        9620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 170
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20425           400           2800
1  Material2       37680           800           5600
2  Material3        9420           200           1400
For order qty: 1884
Material 1 present: 18840
Material 2 present: 37680
Material 3 present: 9420
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       180.0
1  Material_2  Guangzhou       0          0.0       173.0
2  Material_3      Paris       0          0.0       172.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       170.0
2441989.4058403815
Day : 171
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       20025           400           2800
1  Material2       36880           800           5600
2  Material3        9220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 172
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19625           400           2800
1  Material2       36080           800           5600
2  Material3        9020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
2  Material_3  Paris       0          0.0       172.0
2441989.4058403815
Day : 173
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       19225           400           2800
1  Material2       35280           800           5600
2  Material3        8820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
1  Material_2  Guangzhou       0          0.0       173.0
2441989.4058403815
Day : 174
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18825           400           2800
1  Material2       34480           800           5600
2  Material3        8620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 175
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18425           400           2800
1  Material2       33680           800           5600
2  Material3        8420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 176
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       18025           400           2800
1  Material2       32880           800           5600
2  Material3        8220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 177
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17625           400           2800
1  Material2       32080           800           5600
2  Material3        8020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 178
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       17225           400           2800
1  Material2       31280           800           5600
2  Material3        7820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 179
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16825           400           2800
1  Material2       30480           800           5600
2  Material3        7620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 180
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16425           400           2800
1  Material2       29680           800           5600
2  Material3        7420           200           1400
For order qty: 1484
Material 1 present: 14840
Material 2 present: 29680
Material 3 present: 7420

     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       190.0
1  Material_2  Guangzhou       0          0.0       183.0
2  Material_3      Paris       0          0.0       182.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       180.0
2441989.4058403815
Day : 181
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       16025           400           2800
1  Material2       28880           800           5600
2  Material3        7220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 182
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15625           400           2800
1  Material2       28080           800           5600
2  Material3        7020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
2  Material_3  Paris       0          0.0       182.0
2441989.4058403815
Day : 183
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       15225           400           2800
1  Material2       27280           800           5600
2  Material3        6820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
1  Material_2  Guangzhou       0          0.0       183.0
2441989.4058403815
Day : 184
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14825           400           2800
1  Material2       26480           800           5600
2  Material3        6620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 185
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14425           400           2800
1  Material2       25680           800           5600
2  Material3        6420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 186
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       14025           400           2800
1  Material2       24880           800           5600
2  Material3        6220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 187
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13625           400           2800
1  Material2       24080           800           5600
2  Material3        6020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 188
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       13225           400           2800
1  Material2       23280           800           5600
2  Material3        5820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 189
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12825           400           2800
1  Material2       22480           800           5600
2  Material3        5620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 190
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12425           400           2800
1  Material2       21680           800           5600
2  Material3        5420           200           1400
For order qty: 1084
Material 1 present: 10840
Material 2 present: 21680
Material 3 present: 5420
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       200.0
1  Material_2  Guangzhou       0          0.0       193.0
2  Material_3      Paris       0          0.0       192.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       190.0
2441989.4058403815
Day : 191
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       12025           400           2800
1  Material2       20880           800           5600
2  Material3        5220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 192
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11625           400           2800
1  Material2       20080           800           5600
2  Material3        5020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
2  Material_3  Paris       0          0.0       192.0
2441989.4058403815
Day : 193
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       11225           400           2800
1  Material2       19280           800           5600
2  Material3        4820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
1  Material_2  Guangzhou       0          0.0       193.0
2441989.4058403815
Day : 194
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10825           400           2800
1  Material2       18480           800           5600
2  Material3        4620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 195
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10425           400           2800
1  Material2       17680           800           5600
2  Material3        4420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 196
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1       10025           400           2800
1  Material2       16880           800           5600
2  Material3        4220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 197
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9625           400           2800
1  Material2       16080           800           5600
2  Material3        4020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 198
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        9225           400           2800
1  Material2       15280           800           5600
2  Material3        3820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 199
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8825           400           2800
1  Material2       14480           800           5600
2  Material3        3620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 200
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8425           400           2800
1  Material2       13680           800           5600
2  Material3        3420           200           1400
For order qty: 684
Material 1 present: 6840
Material 2 present: 13680
Material 3 present: 3420
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       210.0
1  Material_2  Guangzhou       0          0.0       203.0
2  Material_3      Paris       0          0.0       202.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       200.0
2441989.4058403815
Day : 201
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        8025           400           2800
1  Material2       12880           800           5600
2  Material3        3220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 202
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7625           400           2800
1  Material2       12080           800           5600
2  Material3        3020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
2  Material_3  Paris       0          0.0       202.0
2441989.4058403815
Day : 203
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        7225           400           2800
1  Material2       11280           800           5600
2  Material3        2820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
1  Material_2  Guangzhou       0          0.0       203.0
2441989.4058403815
Day : 204
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6825           400           2800
1  Material2       10480           800           5600
2  Material3        2620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 205
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6425           400           2800
1  Material2        9680           800           5600
2  Material3        2420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 206
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        6025           400           2800
1  Material2        8880           800           5600
2  Material3        2220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 207
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5625           400           2800
1  Material2        8080           800           5600
2  Material3        2020           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 208
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        5225           400           2800
1  Material2        7280           800           5600
2  Material3        1820           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 209
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4825           400           2800
1  Material2        6480           800           5600
2  Material3        1620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 210
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4425           400           2800
1  Material2        5680           800           5600
2  Material3        1420           200           1400
For order qty: 284
Material 1 present: 2840
Material 2 present: 5680
Material 3 present: 1420
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       220.0
1  Material_2  Guangzhou       0          0.0       213.0
2  Material_3      Paris       0          0.0       212.0
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       210.0
2441989.4058403815
Day : 211
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        4025           400           2800
1  Material2        4880           800           5600
2  Material3        1220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 212
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        3625           400           2800
1  Material2        4080           800           5600
2  Material3        1020           200           1400
The materials supplied this iteration are:-
      Material   city  Volume  Total_Costs  Time_Taken
2  Material_3  Paris       0          0.0       212.0
2441989.4058403815
Day : 213
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        3225           400           2800
1  Material2        3280           800           5600
2  Material3         820           200           1400
The materials supplied this iteration are:-
      Material       city  Volume  Total_Costs  Time_Taken

1  Material_2  Guangzhou       0          0.0       213.0
2441989.4058403815
Day : 214
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        2825           400           2800
1  Material2        2480           800           5600
2  Material3         620           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 215
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        2425           400           2800
1  Material2        1680           800           5600
2  Material3         420           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 216
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        2025           400           2800
1  Material2         880           800           5600
2  Material3         220           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 217
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1625           400           2800
1  Material2          80           800           5600
2  Material3          20           200           1400
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 218
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 219
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 220
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       230.0
1  Material_2  Guangzhou       0          0.0       223.0
2  Material_3      Paris       0          0.0       222.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 221
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 222
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 223
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 224
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 225
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 226
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 227
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 228
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 229
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 230
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       240.0
1  Material_2  Guangzhou       0          0.0       233.0
2  Material_3      Paris       0          0.0       232.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 231
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 232
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 233
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 234
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 235
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 236
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 237
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 238
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 239
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 240
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       250.0
1  Material_2  Guangzhou       0          0.0       243.0
2  Material_3      Paris       0          0.0       242.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 241
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 242
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 243
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 244
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 245
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 246
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 247
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 248
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 249
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 250
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845

     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       260.0
1  Material_2  Guangzhou       0          0.0       253.0
2  Material_3      Paris       0          0.0       252.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 251
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 252
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 253
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 254
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 255
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 256
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 257
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 258
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 259
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 260
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       270.0
1  Material_2  Guangzhou       0          0.0       263.0
2  Material_3      Paris       0          0.0       262.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 261
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 262
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 263
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 264
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 265
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 266
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 267
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 268
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 269
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 270
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       280.0
1  Material_2  Guangzhou       0          0.0       273.0
2  Material_3      Paris       0          0.0       272.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 271
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 272
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 273
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 274
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 275
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 276
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 277
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 278
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 279
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 280
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       290.0
1  Material_2  Guangzhou       0          0.0       283.0
2  Material_3      Paris       0          0.0       282.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 281
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 282
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 283
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 284
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 285
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 286
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 287
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 288
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 289
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 290
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845

     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       300.0
1  Material_2  Guangzhou       0          0.0       293.0
2  Material_3      Paris       0          0.0       292.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 291
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 292
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 293
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 294
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 295
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 296
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 297
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 298
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 299
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 300
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       310.0
1  Material_2  Guangzhou       0          0.0       303.0
2  Material_3      Paris       0          0.0       302.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 301
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 302
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 303
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 304
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 305
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 306
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 307
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 308
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 309
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 310
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       320.0
1  Material_2  Guangzhou       0          0.0       313.0
2  Material_3      Paris       0          0.0       312.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 311
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 312
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 313
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 314
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 315
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 316
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 317
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 318
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 319
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 320
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       330.0
1  Material_2  Guangzhou       0          0.0       323.0
2  Material_3      Paris       0          0.0       322.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 321
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 322
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 323
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 324
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 325
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 326
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 327
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 328
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 329
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 330
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845

     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       340.0
1  Material_2  Guangzhou       0          0.0       333.0
2  Material_3      Paris       0          0.0       332.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 331
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 332
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 333
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 334
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 335
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 336
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 337
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 338
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 339
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 340
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       350.0
1  Material_2  Guangzhou       0          0.0       343.0
2  Material_3      Paris       0          0.0       342.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 341
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 342
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 343
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 344
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 345
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 346
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 347
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 348
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 349
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 350
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       360.0
1  Material_2  Guangzhou       0          0.0       353.0
2  Material_3      Paris       0          0.0       352.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 351
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 352
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 353
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 354
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 355
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 356
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 357
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 358
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 359
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 360
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
For order qty: -2769
Material 1 present: -27690
Material 2 present: -55380
Material 3 present: -13845
     Material       city  Volume  Total_Costs  Time_Taken
0  Material_1  Marseille       0          0.0       370.0
1  Material_2  Guangzhou       0          0.0       363.0
2  Material_3      Paris       0          0.0       362.0
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 361
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 362
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 363
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 364
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 365
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
The materials supplied this iteration are:-
 Empty DataFrame
Columns: [Material, city, Volume, Total_Costs, Time_Taken]
Index: []
2441989.4058403815
Day : 366
        Name  In_Factory  Needed_Daily  Needed_Weekly
0  Material1        1225           400           2800
1  Material2           0           800           5600
2  Material3          20           200           1400
Inventory is:  8680
Total Losses made are:  498604.2089348638
Average Optimized cost for order quantity of 14595 orders is: 1220994.7029201908
Average Optimized days lost is: 74.5
Average Optimized price per good is: 281.33518500465226
Average Optimized price per good should have been: 167.31684863586034
[40, 5960]
14595