In [ ]:
#importing libraries
import pandas as pd
import numpy as np
import random as random
import math
import warnings
warnings.filterwarnings("ignore")

In [ ]:
def Dataframe_Load():
  #Supplier countries 
  # Created an empty dataframe with the required columns for suppliers
  supplier_details = pd.DataFrame(columns=['Supplier_ID','Country', 'lat', 'long', 'Volume', 'Time_taken'])
  #Reading world cities
  cities_df = pd.read_excel('worldcities.xlsx')
  df2 = cities_df.loc[(cities_df.country == "China") | (cities_df.country == "India") | (cities_df.country == "Japan")|(cities_df.country == "South Korea")|(cities_df.country == "France")]
  Supplier_Countries = df2.groupby('country').head(2)

  #Taking location o f manufracturer to find distance between other cities and US 
  us = cities_df.loc[(cities_df.country == "United States") ]
  us = us.head(1)
  return Supplier_Countries, us
  '''us["Current_Inventory_Level"] = random.randint(35000,50000)
  us["Max_Inventory_Level"] = 300000
  us["Inventory_Difference"] = us["Max_Inventory_Level"] - us['Current_Inventory_Level']
  print(us)'''

In [ ]:
#Adding reqd columns and randomizing values of volume, time_taken
Supplier_Countries, us = Dataframe_Load()
def value_add(Supplier_Countries):
  #us_demand = float(us.Inventory_Difference)
  time1 = []
  vol = []
  material_volume_provided = []
  demand_satisfied = []
  count = 0
  for i in range(1,len(Supplier_Countries)+1):
    time1.append(random.randint(1,10))
    if i in [1,4,7]:
      vol.append(random.randint(1500,2000))
    elif i in [2,5,8,10]:
      vol.append(random.randint(2500,4000))
    else:
      vol.append(random.randint(750, 1000))
    #material_volume_provided.append(vol[count] - float(0.1*us_demand))
    #demand_satisfied.append(0.1*us_demand)
    #Supplier_Countries.drop(columns = "Material_Provided", inplace = True)
    #Supplier_Countries.drop(columns = "Supplier_ID", inplace = True)

    count = count + 1
    #demand_percentage.append((0.1*us['Demand']))
  time1.sort()
  Supplier_Countries["Volume"] = vol
  #Supplier_Countries["Material_Left"] = material_volume_provided
  #Supplier_Countries["Demand-Satisfied"] = demand_satisfied
  return Supplier_Countries

Supplier_Countries = value_add(Supplier_Countries)

In [ ]:
from geographiclib.geodesic import Geodesic
geod = Geodesic.WGS84
def distance_calc(Supplier_Countries, us):
  #Calculated the distance of the suppliers from the manufacturing facility in USA
  distance1 = []
  lat1 = float(us["lat"])
  long1 = float(us["lng"])
  for index, row in Supplier_Countries.iterrows(): 
    lat2 = row['lat']
    long2 = row['lng']
    g = geod.Inverse(lat1, long1, lat2, long2)
    distance1.append(g['s12']/1000)
  Supplier_Countries["Distance_from_us"] = distance1
  Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
  return Supplier_Countries



'''  
#creating and visualizing network graph
import networkx as nx
from geographiclib.geodesic import Geodesic
geod = Geodesic.WGS84

geod = Geodesic.WGS84

G = nx.DiGraph()
G.add_node(0, latitude = us["lat"], longitude= us["lng"])
distance1 = []
lat1 = float(us["lat"])
long1 = float(us["lng"])
for index, row in Supplier_Countries.iterrows(): 
    lat2 = row['lat']
    long2 = row['lng']
    G.add_node(row['id'], latitude = row['lat'], longitude = row['lng'])
    g = geod.Inverse(lat1, long1, lat2, long2)
    distance1.append(g['s12']/1000)
    if row['Demand-Satisfied']<=row['Volume']:
      cost = g['s12']/1000 * row['Demand-Satisfied']
    else:
      cost = g['s12']/1000 * row['Volume']
    G.add_edge(0, row['id'], dist=g['s12']/1000, cost1 = cost)
    distance = nx.get_edge_attributes(G, 'dist')
    c = nx.get_edge_attributes(G, 'cost1')
    print(f"Distance: {distance[(0, row['id'])]}, Cost: {c}")



#print(G.nodes())  
#print(G.edges()) 
longi = nx.get_node_attributes(G, "longitude")
#print(float(longi[1])) 

Supplier_Countries["Distance_from_us"] = distance1
Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
Supplier_Countries["Time_Taken"] = time1

nx.draw(G)'''

Supplier_Countries = distance_calc(Supplier_Countries, us)

In [ ]:
# Randomizing variables for each order and adding specific materials supplied by each city and theor individual material costs
def Supplier_func_Week(Supplier_dataframe):
  Var1 = 0
  vol = []
  time2 = []
  Supplier_dataframe.sort_values(by = 'country', inplace=True)
  Supplier_dataframe['Material'] = ['Material_1', 'Material_2', 'Material_3', 'Material_1', 'Material_2', 'Material_3', 'Material_1', 'Material_2', 'Material_3', 'Material_2']
  Supplier_dataframe['Material_Costs'] = [5,6,12,7.5,7,10,8,8,11,10]
  for i in range(1,len(Supplier_Countries)+1):
    time2.append(random.randint(1,10))
    if i in [1,4,7]:
      vol.append(random.randint(1000,1200))
    elif i in [2,5,8,10]:
      vol.append(random.randint(2500,3000))
    else:
      vol.append(random.randint(750, 1000))
  Supplier_dataframe['Volume'] = vol
  Supplier_dataframe["Time_Taken"] = time2
  #Setting time from low to high depending on the distance from the manufacturing center.

  Supplier_Countries.sort_values(by='Distance_from_us', ascending = True)
  time2.sort()
  
  #supply=Supplier_dataframe.groupby("Material").Volume.sum()
  Supplier_dataframe['Total_Costs'] = (Supplier_dataframe['Material_Costs']*Supplier_dataframe["Volume"])*(Supplier_dataframe['Distance_from_us']/10000)
  #cost_var = Supplier_dataframe.groupby("Material").Total_Costs.sum()
  #citywise_cost = Supplier_dataframe.groupby(['Material','city','Distance_from_us']).Total_Costs.sum()
  Supplier_dataframe['Per_Unit_Price'] = Supplier_dataframe.Total_Costs/Supplier_dataframe.Volume
  #if len(city_name) > 0:
  #  Var1 = Supplier_dataframe.loc[Supplier_dataframe.city .isin(city_name.to_list())][['Material','city','Volume']]
    #Supplier_Countries.at((Supplier_dataframe.loc[Supplier_dataframe.city .isin(city_name.to_list())].index),'Volume') = 0
  return Supplier_dataframe
Supplier_func_Week(Supplier_Countries.copy())

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,Volume,Distance_from_us,Material,Material_Costs,Time_Taken,Total_Costs,Per_Unit_Price
7,Shanghai,Shanghai,31.1667,121.4667,China,CN,CHN,Shanghai,admin,22118000.0,1156073548,1066,11892.421516,Material_1,5.0,6,6338.660668,5.946211
9,Guangzhou,Guangzhou,23.1288,113.2590,China,CN,CHN,Guangdong,admin,21489000.0,1156237133,2876,12899.735317,Material_2,6.0,3,22259.783263,7.739841
34,Paris,Paris,48.8566,2.3522,France,FR,FRA,Île-de-France,primary,11027000.0,1250015082,884,5848.624736,Material_3,12.0,4,6204.221120,7.018350
937,Marseille,Marseille,43.2964,5.3700,France,FR,FRA,Provence-Alpes-Côte d’Azur,admin,868277.0,1250774071,1050,6316.399245,Material_1,7.5,6,4974.164405,4.737299
2,Delhi,Delhi,28.6667,77.2167,India,IN,IND,Delhi,admin,31870000.0,1356872604,2817,11770.780931,Material_2,7.0,8,23210.802919,8.239547
6,Mumbai,Mumbai,19.0758,72.8775,India,IN,IND,Mahārāshtra,admin,22186000.0,1356226629,980,12554.672401,Material_3,10.0,3,12303.578953,12.554672
0,Tokyo,Tokyo,35.6839,139.7744,Japan,JP,JPN,Tōkyō,primary,39105000.0,1392685764,1052,10875.131358,Material_1,8.0,3,9152.510551,8.700105
18,Ōsaka,Osaka,34.7520,135.4582,Japan,JP,JPN,Ōsaka,admin,15490000.0,1392419823,2983,11127.301019,Material_2,8.0,3,26554.191152,8.901841
5,Seoul,Seoul,37.5600,126.9900,South Korea,KR,KOR,Seoul,primary,22394000.0,1410836482,966,11081.715312,Material_3,11.0,1,11775.430690,12.189887
220,Busan,Busan,35.1000,129.0403,South Korea,KR,KOR,Busan,admin,3453198.0,1410601465,2897,11290.184512,Material_2,10.0,4,32707.664532,11.290185

In [ ]:
Sup_df = Supplier_func_Week(Supplier_Countries)
Material_1_inventory = Sup_df.loc[Sup_df.Material == 'Material_1']
Mat1 = 9000
# Function to return the exact amount of material required based on order qty. Maximum material supplied is provided from the cheapest supplier.
# Minimum material is obtained from the most expensive supplier. 
def Material_Return(Material_inventory, M1):
  Material_inventory.sort_values(by = ['Material','Per_Unit_Price'], inplace = True)
  supplier_number = len(Material_inventory)
  mat_dict = {}
  mat_dict[Material_inventory.Material.unique()[0]] = []
  count = 0
  # Checking for material volume provided by supplier being equal to or exceeding the required volume of material
  # If it does then break the loop else keep appending the material provided into a dictionary.
  for index,row in Material_inventory.iterrows():
      count = count + 1
      if M1 - row['Volume'] == 0:
        mat_dict[row['Material']].append(row[['city','Volume','Total_Costs', 'Time_Taken']])
        break
      elif M1 - row['Volume'] < 0:
        row1 = pd.DataFrame()
        row1['city'] = [row['city']]
        row1['Volume'] = [M1]
        row1['Total_Costs'] = [M1*row['Per_Unit_Price']]
        row1['Time_Taken']=row['Time_Taken']
        mat_dict[row['Material']].append(row1.iloc[0])
        break
      else:
        M1 = M1 - row['Volume']
        mat_dict[row['Material']].append(row[['city','Volume','Total_Costs', 'Time_Taken']])
  return mat_dict

Material_Return(Material_1_inventory, Mat1)

{'Material_1': [city             Marseille
  Volume                1078
  Total_Costs    5106.808789
  Time_Taken               2
  Name: 937, dtype: object, city              Shanghai
  Volume                1118
  Total_Costs    6647.863628
  Time_Taken               7
  Name: 7, dtype: object, city                Tokyo
  Volume               1040
  Total_Costs    9048.10929
  Time_Taken              9
  Name: 0, dtype: object]}

In [ ]:
#daily simulation

#days = math.floor(min(manufacturing_inventory['In_Factory']/manufacturing_inventory['Needed Daily']))
#days

In [ ]:
#to_supplier = [orders()]